src/main/app/hdt-9.1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/current/mule-facebook.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <twitter:config name="Twitter__Configuration" accessKey="69966536-Gb8RQJLiC83vfwqUqoPcSMyOimxIDvlU4xQXNdVcK" accessSecret="Fe8W8HyHNkFDewOi45Ehqh4FV3kjE3CdbMQr10FdAcwK4" consumerKey="atj5lRyct1haVte44K50jLlll" consumerSecret="v49U0joTthhXyZzfZbxIE7jcUV28ma359FYuaiGovCCZ6UTk2v" doc:name="Twitter: Configuration"/>
    <flow name="PostTweet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/addtweet" doc:name="HTTP" metadata:id="a4d54ddb-94e5-4880-9fd6-557188321804"/>
        <twitter:update-status config-ref="Twitter__Configuration"   doc:name="Twitter" status="#[message.inboundProperties.'http.query.params'.mymessage]"/>
        <expression-transformer doc:name="Expression">
            <return-argument evaluator="groovy" expression="payload.toString()"/>
        </expression-transformer>
    </flow>
    <flow name="SearchHashtag">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/search" doc:name="HTTP"/>
        <twitter:search config-ref="Twitter__Configuration" query="##[message.inboundProperties.'http.query.params'.myhashtag]" doc:name="Twitter"/>
        <expression-transformer doc:name="Expression">
            <return-argument evaluator="groovy" expression="payload.toString()"/>
        </expression-transformer>
    </flow>
</mule>
